.ForecastOne {
  position: relative;
  left: 30px;
  top: -250px;
  text-align: center;
}

.ForecastOne .Forecast-day {
  font-size: 14px;
}
.ForecastOne .Forecast-temperatures {
  position: relative;
  top: -18px;
}
.ForecastOne .Forecast-temperature-max {
  font-size: 12px;
}

.ForecastOne .Forecast-temperature-min {
  font-size: 12px;
  opacity: 0.6;
  margin-left: 5px;
}

.ForecastOne .Forecast-icon {
  position: relative;
  top: -22px;
  left: -40px;
}

.ForecastOne .weather-forecast-one {
  position: relative;
  left: 265px;
}
.ForecastOne .weather-forecast-two {
  position: relative;
  top: 100px;
  left: -65px;
}
