.ForecastOne {
  position: relative;
  left: 30px;
  top: -250px;
  text-align: center;
}

.ForecastOne .Forecast-day {
  font-size: 15px;
}

.ForecastOne .Forecast-temperature-max {
  font-size: 12px;
}

.ForecastOne .Forecast-temperature-min {
  font-size: 12px;
  opacity: 0.6;
  margin-left: 5px;
}
